<!-- 编辑模板-功能中的流程列表 -->
<div class="commonDialog editTplMode editTplModeDetail" id="editTplModeDetail" :style="{'min-width':isChild?'400px':'470px','width':isChild?'400px':'470px'}">
    <div class="head">
        <div class="title">编辑模板-{{isChild?mode.Name:'子流程'}}</div>
        <div class="close">x</div>
    </div>
    <transition-group name="list-complete" tag="ul" :class="[mode.Links.length<=10?'scroll_y_hidden':'scroll_y_auto']">
        <li class="body list-complete-item" v-for="(link,index) in mode.Links" :key="link.Tlid">
            <input type=" text " class="ver " placeholder="空 " :value="link.Name " :id=" 'editTplModeDetail_'+link.Tlid+'_name' " @blur="onEditName($event,link.Tlid) "
                @keyup.enter="onEditName($event,link.Tlid) " />
            <button :disabled="link.Children && link.Children.length>0" class="confirm btnSmall2 btnDid " title="修改负责人所属的部门 " @click="onChangeDid($event,link.Tlid) ">{{link.Did|didName}}</button>
            <button v-if="!isChild" class="confirm btnSmall2 " @click="onEditChildren($event,link) ">子流程({{link.Children.length}})</button>
            <button :class="{ 'confirm':true, 'btnSmall1':true, 'button-disabled':index==0} " title="排序上移 " @click="onSortUp($event,link,index) "
                :disabled="index==0 ">↑</button>
            <button :class="{ 'confirm':true, 'btnSmall1':true, 'button-disabled':index>=(mode.Links.length-1)}" title="排序下移" @click="onSortDown($event,link,index)"
                :disabled="index>=(mode.Links.length-1)">↓</button>
            <button :class="{'confirm':true,'btnSmall1':true}" title="删除" @click="onDel($event,link.Tlid)">X</button>
        </li>
    </transition-group>
    <div class="body" v-if="mode.Links.length<50">
        <input type="text" class="ver" placeholder="新流程名称" v-model="newName" @keyup.enter="onAdd" />
        <button class="confirm btnSmall2 btnDid" @click="onChangeDid($event,-1)">{{newDid|didName}}</button>
        <button class="confirm btnSmall3" @click="onAdd">增加</button>
    </div>
</div>