<li class="FilterItemCheckBox">
    <div class="name" style="vertical-align: top;">{{item.Name}}</div>
    <!--<div class="info"><input type="text" placeholder="输入版本号" name="Vid" /></div>-->
    <div class="info" style="width: 360px;">
        <!-- <button class="btnSelectAll">全选</button> -->
        <span class="cursor_pointer user_select_none" v-for="input,index in item.Inputs" :key="input.Value" v-if="item.ShowLen==-1 || index<item.ShowLen" @click="input.Checked=!input.Checked">
            <input type="checkbox" :name="item.InputName" :value="input.Value" v-model="input.Checked" :title="input.Title"/>
            <span :title="input.Title" style="margin-right: 6px;">{{input.Label}}</span>
        </span>
    </div>
    <div class="display_inline_block cursor_pointer user_select_none"  style="vertical-align: top;" @click="item.ShowLen=(item.ShowLen==5?20:5)" v-if="item.ShowLen>-1"><button class="btnSelectAll">更多</button></div>
</li>