<?xml version="1.0" encoding="UTF-8"?>
<root>
	<ws>
		<host></host>
		<port>8088</port>
	</ws>
	<db>
		<name>mysql</name>
		<host>10.18.97.231</host>
		<port>3308</port>
		<user>wangy</user>
		<pass>123456</pass>
		<char>utf8</char>
	</db>
	<mg>manager</mg>
	<pm>pm</pm>
	<web>./web</web>
	<upload>./web/upload</upload>
</root>
