a {
    cursor: pointer;
}

/* .table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th{
    text-align: center;
    vertical-align: middle;
}
 */

.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup .popup_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(85, 85, 85);
    filter: alpha(opacity=62);
    opacity: 0.62;
}

.disabled,
[disabled],
fieldset[disabled],
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=28);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .28;
}

.td-id {
    text-align: center;
    /* 没有important优先级不够 真奇怪  */
    vertical-align: middle !important;
    font-weight: bold;
}

.text-middle {
    vertical-align: middle !important;
    /* 没有important优先级不够 真奇怪 */
}

/* div 模拟的 table */

.div-tr {
    width: 100%;
    border-top: 1px solid #ddd;
}

.div-tr>div {
    display: inline-block;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    /* outline: solid 1px #00FF00; */
}

.div-tr:hover {
    background-color: #c4e3f3;
}

/* 控制div tr中每列的宽度 */

.DeptList-tr>div:nth-child(1) {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    /* outline: solid 1px #00FF00; */
}

.DeptList-tr>div:nth-child(2) {
    width: 100px;
    /* outline: solid 1px #00FF00; */
}

.DeptList-tr>div:nth-child(3) {
    width: 160px;
}

.DeptList-tr>div:nth-child(4) {
    width: 120px;
}

.DeptList-tr>div:nth-child(5) {
    width: 100px;
}

.DeptList-tr>div:nth-child(6) {
    overflow: hidden;
    white-space: nowrap;
    width: 180px;
}

/*vue transition-group*/

.list-complete-item_none {
    transition: all 0s;
}

.list-complete-item {
    transition: all 0.4s;
}

.list-complete-enter {
    opacity: 0;
}

.list-complete-leave-active {
    position: absolute;
}

.list-complete-leave-to {
    opacity: 0;
    transition: all 0s;
}