<div class="commonDialog manager" style="min-width:500px; ">
    <table class="table table-hover">
        <thead>
            <thead>
                <tr>
                    <th style="width: 300px;">部门名称</th>
                    <th class="text-center" style="width: 100px;">增加子部门</th>
                    <th style="width: 160px;padding-left: 50px;" title="将部门迁移到其它部门下">迁移</th>
                    <th style="width: 160px;">职位</th>
                    <th style="width: 120px;">排序</th>
                    <th>删除</th>
                </tr>
            </thead>
            <transition-group name="list-complete" tag="tbody">
                <tr class="list-complete-item" v-for="dp,index in allDepartmentList" :key="dp.Did">
                    <td>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true" v-for="dep,index in dp.Depth*2"></span>
                        <input type="text" class="form-control" style="display: inline-block;width: auto;" placeholder="空" aria-describedby="basic-addon1"
                            :disabled="!auth['PROJECT_EDIT']" :value="dp.Name" @blur="onEditName($event,dp,index)" @keyup.enter="onEditName($event,dp,index)">
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default" type="submit " title="在该部门下增加子部门 " :disabled="!auth['PROJECT_EDIT']" @click="onAddChild(dp,index)">
                            <span class="glyphicon glyphicon-plus-sign " aria-hidden="true "></span>
                        </button>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" :id="'ddmDpListDid'+index" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true" :disabled="!auth['PROJECT_EDIT']">
                                修改上级部门
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" :aria-labelledby="'ddmDpListDid'+index">

                                <li v-for="parentDp in allDepartmentList" :key="parentDp.Did" :class="{'disabled':!CheckShowEditParentDp(dp,parentDp)}">
                                    <a @click="onEditParentDp(dp,parentDp)">{{departmentOption(parentDp)}}</a>
                                </li>
                                <li role="separator " class="divider "></li>
                                <li :class="{'disabled':dp.Fid==0}">
                                    <a @click=" onEditParentDp(dp,null)">作为顶级部门</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-default " type="submit " @click="onEditPosition(dp,index)" :title="'该部门下已有职位x'+dp.PositionList.length">
                            <span class="glyphicon glyphicon-pawn" aria-hidden="true ">
                                (x{{dp.PositionList.length}})
                            </span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-default " type="submit" @click="onSortDown($event,dp,index)" :disabled="!(auth['PROJECT_EDIT'] && CheckSortDown(dp,index))">
                            <span class="glyphicon glyphicon-arrow-down " aria-hidden="true "></span>
                        </button>
                        <button class="btn btn-default " type="submit " @click="onSortUp($event,dp,index) " :disabled="!(auth['PROJECT_EDIT'] && CheckSortUp(dp,index))">
                            <span class="glyphicon glyphicon-arrow-up " aria-hidden="true "></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning " title="删除部门" type="submit " :disabled="!auth['PROJECT_EDIT']" @click="onDel(dp,index)">
                            <span class="glyphicon glyphicon-remove " aria-hidden="true "></span>
                        </button>
                    </td>
                </tr>
                <tr :key="0" v-if="auth['PROJECT_EDIT']">
                    <td>
                        <input type="text " class="form-control " placeholder="输入新部门名称 " aria-describedby="basic-addon1 " v-model.trim="newName"
                            @keyup.enter="onAdd()" />
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default " type="submit " @click="onAdd() " title="增加新部门">
                            <span class="glyphicon glyphicon-plus " aria-hidden="true "></span>
                        </button>
                    </td>
                    <td colspan="3">
                    </td>
                </tr>
            </transition-group>
        </thead>
    </table>
</div>