<li class="body list-complete-item" :key="dp.Did">
    <span class="space" v-if="dp.depth>0">└</span>
    <input type="text" class="name ver" placeholder="部门名称" :value="dp.Name">
    <button class="confirm btnSmall3 btnEdit" title="编辑部门">编辑</button>
    <button class="confirm btnSmall1" title="排序上移 ">↑</button>
    <button class="confirm btnSmall1" title="排序下移">↓</button>
    <button class="cancel btnSmall1" title="删除">X</button>
    <button class="cancel btnSmall1" title="增加子部门">+</button>
    <transition-group name="list-complete" tag="ul">
        <DepartmentItemComponent class="body list-complete-item" v-for="child,index in dp.Children" :department="child" :key="child.Did" />
    </transition-group>
</li>