<div class="commonDialog manager" style="min-width:400px; ">
        <div class="head">
            <div class="title">部门-{{fullName}}</div>
            <div class="close" @click="onClose()">x</div>
        </div>
        <div class="body">
            <input type="text" class="name ver" placeholder="部门名称" :value="newName">
            <div>
                <span>上级部门</span>
                <select>
                    <option value="0">无</option>
                    <option v-for="dm in allDepartmentList"><span v-for="dep in dm.Depth">-</span>{{dm.Name}}</option>
                </select>
            </div>
        </div>
        <div class="body">
            <hr/>
            <div>
                <span>职位</span>
                <button class="cancel btnSmall1" title="插入">+</button>
            </div>
            <transition-group name="list-complete" tag="ul">
                <li class="body list-complete-item" v-for="pos in positionList" :key="pos.Posid">
                    <input type="text" class="name ver" placeholder="职位名称" :value="pos.Name">
                    <button class="confirm btnSmall3 btnEdit" title="编辑职位">编辑</button>
                    <button class="confirm btnSmall1" title="排序上移 ">↑</button>
                    <button class="confirm btnSmall1" title="排序下移">↓</button>
                    <button class="cancel btnSmall1" title="删除">X</button>
                </li>
            </transition-group>
            <div class="foot">
                <!-- <button class="confirm btnSmall3" @click="onSubmit()">保存</button> -->
            </div>
        </div>
    </div>