<div class="list-complete-item div-tr DeptList-tr">
    <div>
        <span class="glyphicon glyphicon-minus" aria-hidden="true" v-for="dep,index in dp.Depth*2"></span>
        <input type="text" class="form-control" style="display: inline-block;width: auto;" placeholder="空" aria-describedby="basic-addon1"
            :disabled="!auth['PROJECT_EDIT']" :value="dp.Name" @blur="onEditName($event,dp,index)" @keyup.enter="onEditName($event,dp,index)">
    </div>
    <div class="text-center">
        <button class="btn btn-default" type="button" title="在该部门下增加子部门 " :disabled="!auth['PROJECT_EDIT']" @click="onAddChild(dp,index)">
            <span class="glyphicon glyphicon-plus-sign " aria-hidden="true "></span>
        </button>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" :id="'ddmDpListDid'+index" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" :disabled="!auth['PROJECT_EDIT']">
                改变上级部门
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" :aria-labelledby="'ddmDpListDid'+index">

                <li v-for="parentDp in allDepartmentList" :key="parentDp.Did" :class="{'disabled':!CheckShowEditParentDp(dp,parentDp)}">
                    <a @click="onEditParentDp(dp,parentDp)">{{departmentOption(parentDp)}}</a>
                </li>
                <li role="separator " class="divider "></li>
                <li :class="{'disabled':dp.Fid==0}">
                    <a @click=" onEditParentDp(dp,null)">改为顶级部门</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <button class="btn btn-default " type="button" @click="onEditPosition(dp,index)" :title="'该部门下有'+dp.PositionList.length+'个职位'+(dp.Children.length>0?' \n该部门及其子部门共有'+GetDeptAllPosnList(dp).length+'个职位':'')">
            <span class="glyphicon glyphicon-pawn" aria-hidden="true ">
                {{dp.PositionList.length}}{{dp.Children.length>0?'/'+GetDeptAllPosnList(dp).length:''}}
            </span>
        </button>
    </div>
    <div class="~text-center text-middle">
        <button class="btn btn-default " type="button" @click="onEditUserList(dp,index)" :title="'该部门下有'+GetDeptUserList(dp).length+'名成员'+(dp.Children.length>0?' \n该部门及其子部门共有'+GetDeptAllUserList(dp).length+'名成员':'')">
            <span class="glyphicon glyphicon-user" aria-hidden="true ">
                {{GetDeptUserList(dp).length}}{{dp.Children.length>0?'/'+GetDeptAllUserList(dp).length:''}}
            </span>
        </button>
    </div>
    <div>
        <button class="btn btn-default " type="button" @click="onSortDown($event,dp,index)" :disabled="!(auth['PROJECT_EDIT'] && CheckSortDown(dp,index))">
            <span class="glyphicon glyphicon-arrow-down " aria-hidden="true "></span>
        </button>
        <button class="btn btn-default " type="button" @click="onSortUp($event,dp,index) " :disabled="!(auth['PROJECT_EDIT'] && CheckSortUp(dp,index))">
            <span class="glyphicon glyphicon-arrow-up " aria-hidden="true "></span>
        </button>
    </div>
    <div>
        <button class="btn btn-warning " title="删除部门" type="button" :disabled="!auth['PROJECT_EDIT']" @click="onDel(dp,index)">
            <span class="glyphicon glyphicon-remove " aria-hidden="true "></span>
        </button>
    </div>
</div>