<transition-group name="list-complete" tag="div" class="listComp">
    <div class="list-complete-item" v-for="dp,index in deptTree" :dp="dp" :index="index" :key="dp.Did">
        <div class="divrow DeptList-row">
            <div>
                <span class="glyphicon glyphicon-minus" aria-hidden="true" v-for="dep,index in dp.Depth*2"></span>
                <input type="text" class="form-control" style="display: inline-block;width: auto;" placeholder="空" aria-describedby="basic-addon1"
                    :disabled="!auth['PROJECT_EDIT'] || dp.Sort==0" :value="dp.Name" @blur="onEditName($event,dp,index)" @keyup.enter="onEditName($event,dp,index)">
            </div>
            <div class="text-center">
                <button class="btn btn-default" type="button" title="在该部门下增加子部门 " :disabled="!auth['PROJECT_EDIT']" v-if="dp.Sort>0" @click="onAddChild(dp,index)">
                    <span class="glyphicon glyphicon-plus-sign " aria-hidden="true "></span>
                </button>
            </div>
            <div>
                <button class="btn btn-default " type="button" @click="onEditPosition(dp,index)" :title="'该部门及其子部门共有'+GetDeptAllPosnList(dp).length+'个职位'">
                    <span class="glyphicon glyphicon-pawn" aria-hidden="true ">
                        {{GetDeptAllPosnList(dp).length}}
                    </span>
                </button>
            </div>
            <div class="~text-center text-middle">
                <button class="btn btn-default " type="button" @click="onEditUserList(dp,index)" :title="'该部门及其子部门共有'+GetDeptAllUserList(dp).length+'名成员'">
                    <span class="glyphicon glyphicon-user" aria-hidden="true ">
                        {{GetDeptAllUserList(dp).length}}
                    </span>
                </button>
            </div>
            <!-- sort -->
            <div>
                <span class="glyphicon glyphicon-minus" aria-hidden="true" v-for="dep,index in dp.Depth*2"></span>
                <!-- <div style="display: inline-block; width: 15px;" v-for="dep,index in dp.Depth"></div> -->
                <button class="btn btn-default " type="button" @click="onSortUp($event,dp,index) " :disabled="!(auth['PROJECT_EDIT'] && CheckSortUp(dp,index))"
                    v-if="dp.Sort>0">
                    <span class="glyphicon glyphicon-arrow-up " aria-hidden="true "></span>
                </button>
                <button class="btn btn-default " type="button" @click="onSortDown($event,dp,index)" :disabled="!(auth['PROJECT_EDIT'] && CheckSortDown(dp,index))"
                    v-if="dp.Sort>0">
                    <span class="glyphicon glyphicon-arrow-down " aria-hidden="true "></span>
                </button>
            </div>
            <!-- 迁移 -->
            <div>
                <DeptDropdownComp :btnId="'ddmDpListDid'+index" :btnLabel="'改变上级部门'" :btnDisabled="!auth['PROJECT_EDIT']" v-if="dp.Sort>0"
                    :checkItemCb="(deptDropdown)=>{return DeptDropdownCheckItemCb(dp,deptDropdown)}" :currDept="dp"
                    @OnSelect="onEditParentDp(dp,arguments[0])">
                    <template slot="after">
                        <li role="separator " class="divider "></li>
                        <li :class="{'disabled':dp.Fid==0}">
                            <a @click="onEditParentDp(dp,null)">改为顶级部门</a>
                        </li>
                    </template>
                </DeptDropdownComp>
            </div>
            <!-- remove -->
            <div>
                <button class="btn btn-warning " title="删除部门" type="button" :disabled="!auth['PROJECT_EDIT']" v-if="dp.Sort>0" @click="onDel(dp,index)">
                    <span class="glyphicon glyphicon-remove " aria-hidden="true "></span>
                </button>
                <button class="btn btn-warning btn-drag" title="拖动" type="button" :disabled="!auth['PROJECT_EDIT']" v-if="dp.Sort>0">
                    <span class="glyphicon glyphicon-move " aria-hidden="true "></span>
                </button>
            </div>
        </div>
        <DeptListComp :deptTree="dp.Children" v-if="dp.Children.length>0"></DeptListComp>
    </div>
</transition-group>