<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" :id="btnId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" @click="OnBtnClick()" :disabled="btnDisabled">
        {{btnLabel}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" :aria-labelledby="btnId">
        <slot name="before"></slot>
        <li :style="ItemStyle && ItemStyle(dept)" v-for="dept in deptList" :key="dept.Did" :class="{'disabled':(CheckItemCb && CheckItemCb(dept)==2)}" v-if="!(CheckItemCb && CheckItemCb(dept)==4)">
            <a @click="$emit('OnSelect',dept)" v-if="!CheckItemCb || CheckItemCb(dept)==0">{{deptOption(dept)}}</a>
            <a v-else>{{deptOption(dept)}}</a>
        </li>
        <slot name="after"></slot>
    </ul>
</div>