<div class="commonDialog manager" style="min-width:600px; ">
    <div class="head">
        <div class="title">职位-{{fullName}}</div>
        <div class="close" @click="onClose()">x</div>
    </div>
    <div class="body">
        <input type="text" class="name ver" placeholder="职位名称" :value="newName">
        <button class="confirm btnSmall3 btnEdit" title="修改名称">修改名称</button>
        <span> </span>
        <span>所属部门</span>
        <select>
            <option value="0">无</option>
            <option v-for="dm in allDepartmentList" style="padding-left: 40px;">{{departmentOption(dm)}}</option>
        </select>
    </div>
    <div class="body">
        <hr/>
        <div class="cursor_pointer" @click="showKind!=1?showKind=1:showKind++">
            <span>{{showKind==1?'▼':'▶'}}</span>
            <span>成员列表</span>
        </div>
        <div v-show="showKind==1">
            <div class="cursor_pointer">
                <input type="text" class="name ver" placeholder="搜索用户" width="200">
                <button class="confirm btnSmall3 btnEdit" title="添加">添加</button>
            </div>
            <div>
                <div v-for="user,index in userList" :key="user.Uid" style="display:inline-block;margin-right: 12px;">
                    <!-- <input type="checkbox" :name="user.Name" :value="user.Uid" /> -->
                    <span class="checkbox_name" style="padding: 0px;">{{user.Name}}</span>
                    <button class="confirm miniDelete" title="删除">x</button>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <hr/>
        <div class="cursor_pointer" @click="showKind!=2?showKind=2:showKind=1">
            <span>{{showKind==2?'▼':'▶'}}</span>
            <span>权限列表</span>
        </div>
        <div v-show="showKind==2">
            <table cellspacing="0">
                <tr v-for="am,index in authorityModuleList" :key="am.Modid">
                    <td style="width: 80px;border: 1px solid #cacaca;">
                        <input type="checkbox" :name="am.Name" :value="am.Modid" :key="am.Modid" />
                        <span class="checkbox_name">{{am.Name}}</span>
                    </td>
                    <td style="width: 460px;border: 1px solid #cacaca;">
                        <div v-for="auth,index in am.AuthorityList" :key="auth.Aid" style="display:inline-block;">
                            <input type="checkbox" :name="auth.Name" :value="auth.Uid" />
                            <span class="checkbox_name">{{auth.Name}}</span>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="confirm btnSmall3 btnEdit">保存</button>
            <button class="confirm btnSmall3 btnEdit">还原</button>
        </div>
    </div>
    <div class="foot">
        <!-- <button class="confirm btnSmall3" @click="onSubmit()">保存</button> -->
    </div>
</div>