<!-- 编辑模板-功能列表 -->
<div>
    <navbar-comp :currUser="currUser" isProjList="1"></navbar-comp>
    <table class="table table-hover" v-if="projectList.length>0">
        <thead>
            <thead>
                <tr>
                    <th style="width: 30px;">PID</th>
                    <th style="width: 300px;">项目名称</th>
                    <th class="-text-center" style="width: 150px;" title="负责人拥有该项目所有的管理权限">负责人</th>
                    <th class="text-center" style="width: 150px;">成员数量</th>
                    <th style="width: 300px;">操作</th>
                    <th></th>
                </tr>
            </thead>
        </thead>
        <transition-group name="list-complete" tag="tbody">
            <tr class="list-complete-item" v-for="proj,index in projectList" :key="proj.Pid">
                <td class="td_id">
                    {{proj.Pid}}
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" :disabled="!auth['PROJECT_EDIT']"
                        :value="proj.Name" @blur="onEditName($event,proj,index)" @keyup.enter="onEditName($event,proj,index)">
                </td>
                <td class="-text-center text-middle">
                    <div class="dropdown" v-if="proj.UserList.length>0">
                        <button class="btn btn-default dropdown-toggle" type="button" :id="'ddmProjistMaster'+index" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true" :disabled="!(auth['PROJECT_EDIT'])">
                            {{GetProjMaster(proj)}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" :aria-labelledby="'ddmProjistMaster'+index">
                            <li v-for="user,UserList in proj.UserList" :key="user.Uid" v-if="proj.MasterUid!=user.Uid">
                                <a @click="OnEditMaster(proj,user)">{{user.Name}}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="text-danger" title="该项目内还没有成员,需要先用 成员管理 增加成员" v-else>请先用
                        <button class="btn btn-default btn-xs" type="submit" title="成员管理" @click="onShowUserList(proj,index)">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </button>增加成员</span>
                </td>
                <td class="text-center text-middle" :title="GetProjUserCountTitle(proj)">
                    {{GetProjUserCount(proj)}}
                </td>
                <td>
                    <button class="btn btn-default" type="submit" title="部门管理" @click="onShowDepartmentList(proj,index)">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" type="submit" title="成员管理" @click="onShowUserList(proj,index)">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning" type="submit" title="删除项目" @click="onDel($event,proj,index)" :disabled="!(auth['PROJECT_EDIT'])">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr key="0" v-if="auth['PROJECT_LIST']">
                <td>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="输入新项目名称" aria-describedby="basic-addon1" v-model.trim="newName" @keyup.enter="onAdd()"
                    />
                </td>
                <td>
                    <button class="btn btn-default" type="submit" title="增加新项目" @click="onAdd()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </transition-group>
    </table>
    <div class="alert alert-danger" role="alert" v-else>
        <strong>您还没有加入任何项目</strong> 请联系管理员或者项目负责人将你增加到项目中
    </div>
</div>