<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- <div class="navbar-header" v-if="!auth['PROJECT_MANAGE']">
            <a class="navbar-brand" href="#">项目B</a>
        </div> -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle navbar-brand" :data-toggle="auth['PROJECT_MANAGE']?'dropdown':'label'" :style="{'cursor':
                    auth['PROJECT_MANAGE']?'pointer':'default'}" role="button" aria-haspopup="true" aria-expanded="false">项目A
                        <span class="caret" v-if="auth['PROJECT_MANAGE']"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">项目A</a>
                        </li>
                        <li>
                            <a href="#">项目B</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 管理项目</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">人员
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#">部门</a>
                </li>
                <li>
                    <a href="#">职位</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>