<div class="commonDialog manager" style="min-width:500px; ">
    <nav class="navbar navbar-default">
        <div class="navbar-form navbar-left col-lg-6">
            <button class="btn btn-default" type="button" :title="'返回职位:'+backPosn.Name" @click="OnBackPosn()" v-if="backPosn">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="筛选" v-model.trim="filterText" title="按照'成员/部门/职位'名称进行筛选 \n优先显示符合条件的成员">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="filterText=''">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </span>
            </div>
            <div style="clear: both;color: #BBBBBB">
                <small>多个筛选关键字可以用'空格'或'逗号'分割</small>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </nav>
    <table class="table table-hover">
        <thead>
            <thead>
                <tr>
                    <th style="width: 30px;">UID</th>
                    <th style="width: 150px;">成员</th>
                    <th otherUser style="width: 130px;">部门</th>
                    <th otherUser style="width: 130px;">职位</th>
                    <th style="width: 120px;">排序</th>
                    <th>删除</th>
                </tr>
            </thead>
            <transition-group name="list-complete" tag="tbody">
                <tr v-for="user,index in filterUserList(userList,filterText)" :key="user.Uid" class="list-complete-item">
                    <td class="td-id">
                        {{user.Uid}}
                    </td>
                    <td class="text-middle">
                        {{user.Name}}
                    </td>
                    <td>
                        <DeptDropdownComp :btnId="'ddmUserListDid'+index" :btnLabel="ShowDpName(user.Did)" @OnSelect="OnDeptChange(user,arguments[0])">
                            <template slot="before">
                                <li>
                                    <a @click="OnDeptChange(user,null)">空</a>
                                </li>
                            </template>
                        </DeptDropdownComp>
                        <!-- <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" :id="'ddmUserListDid'+index" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                                {{ShowDpName(user.Did)}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" :aria-labelledby="'ddmUserListDid'+index">
                                <li>
                                    <a @click="user.Did=0">空</a>
                                </li>
                                <li v-for="dp in allDepartmentList" :key="dp.Did">
                                    <a @click="OnDeptChange(user,dp)">{{departmentOption(dp)}}</a>
                                </li>
                            </ul>
                        </div> -->
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" :id="'ddmUserListPos'+index" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true" :disabled="!user.Did" :title="!user.Did?'请先选择部门':''">
                                {{ShowPosName(user.Did,user.Posid)}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" :aria-labelledby="'ddmUserListDid'+index">
                                <li v-for="pos in GetPosList(user.Did)" :key="pos.Posid">
                                    <a @click="onPosChange(user,pos)">{{pos.Name}}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-default " type="button" @click="onSortDown(user,index)" :disabled="!(index < userList.length - 1)">
                            <span class="glyphicon glyphicon-arrow-down " aria-hidden="true "></span>
                        </button>
                        <button class="btn btn-default " type="button" @click="onSortUp(user,index)" :disabled="!(index > 0)">
                            <span class="glyphicon glyphicon-arrow-up " aria-hidden="true "></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning" type="button" @click="onDel(user,index)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                <tr :key="0">
                    <td>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" @click="onAddSelect()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                增加新成员
                            </span>
                        </button>
                        <!-- <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="ddmUserListNewUser" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                                {{ShowUserName(newUserUid)}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="ddmUserListNewUser">
                                <li v-for="otherUser,otherUserIndex in otherUserList" :key="otherUser.Uid">
                                    <a @click="newUserUid=otherUser.Uid">{{otherUser.Name}}</a>
                                </li>
                            </ul>
                        </div> -->
                    </td>
                    <td>
                        <!-- <button class="btn btn-default" type="button" @click="onAdd()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button> -->
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </transition-group>
        </thead>
    </table>
</div>