<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top: 8px;" role="cell" v-if="currDept">
                <button class="btn btn-default " type="button" @click="OnEnterDeptById(currDept.Fid)" :title="GetEnterParentDeptTitle(currDept.Fid)">
                    <span class="glyphicon glyphicon-open" aria-hidden="true ">
                        <!-- 上级部门 -->
                    </span>
                </button>
            </div>
            <div class="navbar-header" role="button">
                <span class="navbar-text" style="margin-right: 4px;">
                    当前部门:
                </span>
            </div>
            <!--   <div class="navbar-header" role="cell">
                <span class="navbar-text">/</span>
            </div> -->
            <div class="navbar-header" role="cell" style="margin-top: 8px;">
                <DeptDropdownComp :btnId="'ddmPosList'" :btnLabel="currDept?currDept.Name:'全部部门'" @OnSelect="OnDeptChange(arguments[0])"
                    :currDept="currDept" :checkItemCb="(deptDropdown)=>{return DeptDropdownCheckItemCb(deptDropdown)}">
                    <!-- </DeptDropdownComp>" !currDept || currDept.Did==currDept.Did}"> -->
                    <template slot="before">
                        <li :style="{ 'background-color': !currDept?'#FFFF00':''}" :class="{'disabled':!currDept}">
                            <a @click="OnEnterDept(null)" v-if="currDept">全部部门</a>
                            <a v-else>全部部门</a>
                        </li>
                    </template>
                </DeptDropdownComp>
            </div>
            <div class="navbar-header" role="cell" style="margin-top: 4px;margin-left: 8px;" :disabled="!EnabledToggleShownDeptChildren()">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="shownDeptChildren" value="0"  :disabled="!EnabledToggleShownDeptChildren()" :checked="EnabledToggleShownDeptChildren() && userConfig.ShownDeptChildren" @click="OnToggleShownDeptChildren()"
                        /> 显示子部门的职位
                    </label>
                </div>
            </div>
        </div>
    </nav>
    <!--  -->
    <div>
        <!-- title -->
        <div class="divrow PosnList-row" style="font-weight: bold;">
            <div>所属部门</div>
            <div>职位名称</div>
            <div>权限管理</div>
            <div>部门管理</div>
            <div>成员管理</div>
            <div>拖动排序</div>
            <div>删除</div>
        </div>
        <!-- content -->
        <PosnListComp :dept="dept" :currDept="currDept" :startDepth="startDepth" :shownDeptChildren="userConfig.ShownDeptChildren"
            v-for="dept in deptTree" :key="dept.Did" @OnEnterDept="OnEnterDept"></PosnListComp>
        <!-- 新增 -->
        <div class="divrow PosnList-row" v-if="auth['PROJECT_MANAGE']">
            <div>{{currDept?currDept.Name:''}}</div>
            <div>
                <input type="text " class="form-control" placeholder="输入新职位名称 " aria-describedby="basic-addon1 " v-model.trim="newName" @keyup.enter="onAdd()"
                    :disabled="!currDept" />
            </div>
            <div>
                <button class="btn btn-success " type="button" @click="onAdd()" :disabled="!currDept">
                    <span class="glyphicon glyphicon-plus " aria-hidden="true "></span>
                </button>
            </div>
        </div>
        <!-- 提示信息 -->
        <div class="alert alert-warning" role="alert" v-if="auth['PROJECT_MANAGE'] && !currDept">
            <strong>本页面显示了项目的全部"职位", 因此不能直接增加"职位""</strong> 请进入到一个"部门"的职位列表中"增加职位"
        </div>
        <!-- 提示信息 -->
        <div class="alert alert-warning" role="alert" v-else-if="auth['PROJECT_MANAGE'] && currDept.Sort==0">
            <strong>"管理部"下新建职位将拥有该项目的"全部管理权限"</strong>
        </div>
    </div>
</div>