<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />


  <title>PDF</title>
  <!--  -->
  <link href="js/lib3/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
  <link href="css/AnyMark.css" rel="stylesheet">
  <!-- js/lib3 -->
  <script type="text/javascript" src="js/lib3/path.js"></script>
  <script type="text/javascript" src="js/lib3/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/lib3/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="js/lib3/vue.js"></script>
  <!-- js/lib3 -->
  <script type="text/javascript" src="js/lib3/pdfjs/pdf.js"></script>
  <script type="text/javascript" src="js/lib3/protobuf.js"></script>
  <!-- lib1 -->
  <script type="text/javascript" src="js/lib1/Common.js"></script>
  <script type="text/javascript" src="js/lib1/JQueryExtend.js"></script>
  <!-- webgl lib -->
  <script src="../js/lib3/webgl.lib/webgl-utils.js"></script>
  <script src="../js/lib3/webgl.lib/webgl-debug.js"></script>
  <script src="../js/lib3/webgl.lib/cuon-utils.js"></script>
  <!-- my js -->
  <script type="text/javascript" src="js/lib1/mark.proto.js"></script>
  <script type="text/javascript" src="js/MarkWebgl.js"></script>
  <script type="text/javascript" src="js/AnyMark.js"></script>
  <script type="text/javascript">
    window.onload = function () {
      new PdfViewer().init()
    }
  </script>
</head>

<body>
  <!-- doc -->
  <section class="doc">
    <!-- button bar -->
    <nav class="navbar navbar-default buttonBar">
      <!-- page -->
      <div class="input-group">
        <span class="input-group-addon">Page:</span>
        <button type="button" class="btn btn-default btn-sm" @click='onPagePrev'>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <span class="input-group-addon">{{pageNum}} / {{pageTotal}}</span>
        <button type="button" class="btn btn-default btn-sm" @click='onPageNext'>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
      </div>
      <!-- scale -->
      <div class="input-group">
        <span class="input-group-addon">Scale:</span>
        <button type="button" class="btn btn-default btn-sm" @click='onZoomOut'>
          <span class="glyphicon glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
        </button>
        <span class="input-group-addon">{{pageScale}}</span>
        <button type="button" class="btn btn-default btn-sm" @click='onZoomIn'>
          <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
      </div>
    </nav>
    <!-- canvas -->
    <canvas ref='canvasView'>Canvas is not supported</canvas>
    <canvas ref='canvasMark'></canvas>
  </section>
  <!-- outline -->
  <section class="outline">
    <nav class="navbar navbar-default buttonBar" v-drag="getTouchOption">
      <div class="input-group">
        <span class="input-group-addon">Outline:</span>
        <button type="button" class="btn btn-default btn-sm" @click='showContent=!showContent'>
          <span class="glyphicon" :class="[{'glyphicon-expand':!showContent},{'glyphicon-collapse-down':showContent}]"
            aria-hidden="true"></span>
        </button>
      </div>
    </nav>
    <item class="children0" :models="treeData" v-if="showContent">
    </item>
  </section>
  <!-- log -->
  <section class="log">
    <nav class="navbar navbar-default buttonBar" v-drag="getTouchOption">
      <div class="input-group">
        <span class="input-group-addon">Log:</span>
        <button type="button" class="btn btn-default btn-sm" @click='showContent=!showContent'>
          <span class="glyphicon" :class="[{'glyphicon-expand':!showContent},{'glyphicon-collapse-down':showContent}]"
            aria-hidden="true"></span>
        </button>
      </div>
    </nav>
    <div v-if="showContent" ref="content" v-html="content"></div>
  </section>
  <!-- vue 组件 -->
  <template id="template_outline_item">
    <ul>
      <li class="list-unstyled" v-for="model in models" :key="model.uuid">
        <div>
          <button type="button" class="btn btn-default btn-sm" @click='onToggleItem(model)' :style="{'visibility': model.children.length>0?'visible':'hidden'}">
            <span class="glyphicon" :class="[{'glyphicon-expand':!model.isOpen},{'glyphicon-collapse-down':model.isOpen}]"
              aria-hidden="true"></span>
          </button>
          <button  class="btn btn-default" @click="onLinkItem(model)">{{model.name}}</button>
        </div>
        <!-- 组件中引用当前组件，传入下级数据 -->
        <item class="children" :models="model.children" v-show="model.isOpen">
        </item>
      </li>
    </ul>
  </template>
  <!-- <script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent) {
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "9engc9mw"
      }], "*")
    }
  </script> -->

</body>

</html>