<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PDF</title>
  <!--  -->
  <link href="lib3/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    #the-canvas {
      border: 1px solid black;
    }
  </style>
  <!-- lib3 -->
  <script type="text/javascript" src="lib3/path.js"></script>
  <script src="lib3/jquery-3.2.1.min.js"></script>
  <script src="lib3/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <script src="lib3/vue.js"></script>
  <script src="js/pdfjs/pdf.js"></script>
  <!-- my js -->
  <script src="js/PdfViewer.js"></script>
  <script type="text/javascript">
    window.onload = function () {

      new PdfViewer().init()

    }
  </script>
</head>

<body>

  <div>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    <span>Page:
      <span id="page_num"></span> /
      <span id="page_count"></span>
    </span>
    <button id="zoomOut">-</button>
    <button id="zoomIn">+</button>
    <span>Scale:
      <span id="page_scale"></span>
  </div>

  <canvas id="the-canvas"></canvas>

  <!-- 子级组件 -->
  <template id="item-template">
    <li class="list-unstyled">
      <div>
        <span @click="toggleItem(model)" role="button" v-if="model.children.length>0">
          {{model.isOpen?'-':'+'}}
        </span>
        &nbsp;&nbsp;
        <span @click="linkItem(model)" role="button">
          {{model.name}}
        </span>
      </div>
      <!-- 组件中引用当前组件，传入下级数据 -->
      <ul v-show="model.isOpen">
        <item class="item" v-for="model in model.children" :model="model" :key="model.uuid">
        </item>
      </ul>
    </li>
  </template>

  <!-- 父级 -->
  <ul id="outline">
    <item class="item" :model="treeData">
    </item>
  </ul>

  <!-- <script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent) {
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "9engc9mw"
      }], "*")
    }
  </script> -->

</body>

</html>