<!-- 编辑模板-功能中的流程列表 -->
<div class="commonDialog editTplMode editVersionDetail">
    <div class="head">
        <div class="title">编辑版本-{{version.Ver}}{{version.Name?'-'+version.Name:''}}</div>
        <div class="close" @click="onClose()">x</div>
    </div>
    <ul>
        <li v-for="item,index in version.PublishList">
            <div :class="['arrow']" v-if="index>0">➤</div>
            <div class="info">
                <input type="text" class="date" :placeholder="'选择日期'" :value="item.DateLine" readonly @click="onDateClick($event,item)" />
            </div>
            <div :class="['name sk_'+(index+1)]" v-text="publishName(index+1)+'日期'"></div>
        </li>
        <!-- <li class="body list-complete-item" v-for="(link,index) in mode.Links" :key="link.Tlid">
            <input type=" text " class="ver " placeholder="空 " :value="link.Name " :id=" 'editTplModeDetail_'+link.Tlid+
            '_name' " @blur="onEditName($event,link.Tlid) "
                @keyup.enter="onEditName($event,link.Tlid) " />
            <button class="confirm btnSmall2 " title="修改负责人所属的部门 " @click="onChangeDid($event,link.Tlid) ">{{link.Did|didName}}</button>
            <button :class="{ 'confirm':true, 'btnSmall1':true, 'button-disabled':index==0} " title="排序上移 " @click="onSortUp($event,link.Tlid) "
                :disabled="index==0 ">↑</button>
            <button :class="{ 'confirm':true, 'btnSmall1':true, 'button-disabled':index>=(mode.Links.length-1)}" title="排序下移" @click="onSortDown($event,link.Tlid)" :disabled="index>=(mode.Links.length-1)">↓
            </button>
            <button :class="{'confirm':true,'btnSmall1':true}" title="删除" @click="onDel($event,link.Tlid)">X</button>
        </li> -->
    </ul>
    <div class="foot" v-if="false">
        <div class="buttons">
            <button class="confirm">确定</button>
            <button class="cancel">取消</button>
        </div>
    </div>
    <!--     <div class="foot">
        <button class="confirm" @click="onSubmit()">确定</button>
        <button class="cancel" @click="onAdd()">取消</button>
    </div> -->
</div>